{{define "title"}}Home{{end}}

{{define "main"}}
    <h2>All Your Chats</h2>
    {{if .PublicChatrooms}}
        <h3>Public Chatrooms</h3>
        <table>
            <tr>
                <th>Chatroom</th>
                <th>Users In This Chatroom</th>
            </tr> 
            {{range .PublicChatrooms}}
                <tr>
                    <td><a href="/chat/room/{{.Name}}">{{.Name}}</a></td>
                    <td><a href="/user/list/{{.Name}}">{{.AllUsers}}</a></td>
                </tr> 
            {{end}}
        </table>
    {{end}}
    <br>
    <br>
    <br>
    {{if .PrivateChatrooms}}
        <h3>Private Chatrooms</h3>
        <table>
            <tr>
                <th>Chatroom</th>
                <th>Users In This Chatroom</th>
            </tr> 
            {{range .PrivateChatrooms}}
                <tr>
                    <td><a href="/chat/room/{{.Name}}">{{.Name}}</a></td>
                    <td>{{.AllUsers}}</td>
                </tr> 
            {{end}}
        </table>
    {{else if .PublicChatrooms}}
        <!--Ignore this-->
    {{else}}
        <p>There's nothing to see here...</p>
    {{end}}
{{end}}